@tailwind base;
@tailwind components;
@tailwind utilities;

.footerheadline{
    background: #0a3656;
}
.container{
    box-sizing: 0 0 8px rgba(0,0,0,0.3);
}
.indicator .step{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 7px;
}
.step .div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: bold;
}
.step span{
    font-weight: 700;
    text-align: center;
    transition: all 0.4s ease;
}
.step1 span{
    color:white ;
}
.indicator .line{
    width: 40px;
    height: 30px;
    border-top: 4px solid white;
    transition: all 0.4s ease;
}
.form .form-group{
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
     width: 80%;
     height: 50px;
     margin: 15px 0;
    }
    .form-group input{
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 17px;
        font-weight: 500;
        outline: none;
        border: 1px solid black;
    }
    .form-group label{
        position: absolute;
        pointer-events: none;/*what is pointer event*/
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        background: #fff;
        transition: all 0.3s ease;
        font-size: 17px;
        font-weight: 500;
        padding: 3px;
        color: #999;
    }
    .form-group input:focus ~ label,
    .form-group input:valid ~ label{
        color: black;
        top: 0%;
        transform: translateY(-50%) scale(0.85);
    }
    .buttons .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        color: white;
        text-transform: capitalize;
        text-align: center;
        width: 98%;
        height: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        border: none;
        border-radius: 6px; 
        outline: none;/*what is the use of outline*/
        box-shadow:0 0 8px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    .buttons .btn i{
        color: white;
        font-size: 15px;
    }
    .buttons .btnfirst{
        width: 100%;
    }
    .buttons .btn:active{
        transform: scale(0.95);
    }
    .buttons .btn:hover{
        opacity: 0.8;
        background: black;
    }

    #one:checked ~ .container .panel{
        left: -710px;
    }
    #two:checked ~ .container .panel{
        left: -1480px;
    }
    #three:checked ~ .container .panel{
        left: -2290px;
    }
    #one:checked ~ .container .indicator .line1,
    #two:checked ~ .container .indicator .line2,
    #three:checked ~ .container .indicator .line3{
        border-color:white;
    }

    #one:checked ~ .container .indicator .step2 span,
    #two:checked ~ .container .indicator .step3 span,
    #three:checked ~ .container .indicator .step4 span{
        color:gold;
    } 

   .seperation{
    background: linear-gradient(to right,  lightgreen ,black, red, green, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
   }
   .clip{ 
    position: absolute;
    width: 500px;
    height: 800px;
   }

   .dropdown li{
    font-weight: 700;
   }
   
 .dropdown li:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color: #0a3656;
 }

  .dropdown ul li:nth-child(1){
     transition-delay: 0.2s , 0s;
  }
  .dropdown ul li:nth-child(2){
    transition-delay: 0.3s , 0s;
 }
 .dropdown ul li:nth-child(3){
    transition-delay: 0.5s , 0s;
 }
 .dropdown:hover li{
    opacity: 1;
 }



   @media (min-width:350px) and (max-width:992px) {
      .clip{
        width: 316px;
        margin-left: 3%;
      }
      .form-group input{
        height: 100%;
        width: 70%;
        position: absolute;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 17px;
        font-weight: 500;
        outline: none;
        border: 1px solid black;
    }
    .form-group label{
        position: absolute;
        pointer-events: none;/*what is pointer event*/
        top: 50%;
        left: 80px;
        transform: translateY(-50%);
        background: #fff;
        transition: all 0.3s ease;
        font-size: 17px;
        font-weight: 500;
        padding: 3px;
        color: #999;
    }
    #one:checked ~ .container .panel{
        left: -370px;
    }
    #two:checked ~ .container .panel{
        left: -880px;
    }
    #three:checked ~ .container .panel{
        left: -1190px;
    }
      
   }
  
   @media (max-width:360px) {
    .page1{
        left: -28% !important;
      }
      .page2{
        left:66% !important;
      }
    .page3{
        left: -90% !important;
      }
     .page4{
        left: 120% !important;
     }

     #one:checked ~ .container .panel{
        left: -300px;
    }
    #two:checked ~ .container .panel{
        left: -845px;
    }
    #three:checked ~ .container .panel{
        left: -1145px;
    }


   }

   @media (max-width:375px) {

      .page3{
        left: 250% !important;
      }
     .page4{
        left: 342% !important;
     }
   }
   @media (min-width: 720px) and (max-width:1030px) {
      
    .page1{
        left: 9% !important;
      }
     .page2{
        left: 108% !important;
     } 
      .page3{
        left: 200% !important;
      }
     .page4{
        left: 280% !important;
     }
     #one:checked ~ .container .panel{
        left: -570px;
    }
    #two:checked ~ .container .panel{
        left: -1065px;
    }
    #three:checked ~ .container .panel{
        left: -1495px;
    }
    .guestspeakers img, .raise img{
        width: 100% !important;
    }
    .raise{
        font-size: 30px !important;
    }
  }
  @media (max-width:1024px) {
     .mfounders{
         justify-content: space-evenly !important;
         padding: 5px 10px;
     }
     
  }
    
   